!.vscode/extensions.json

logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.astro/

dist/
dist-ssr/
node_modules/

.DS_Store

*.lcov
*.local
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo

__pycache__
coverage
lib-cov

.docusaurus
.dynamodb/
.cache/
.cache
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.idea/
.lock-wscript
.mypy
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.tern-port
.temp
.vscode/*
.vscode-test
.vuepress/dist
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn-integrity

bower_components
build/

jspm_packages/

out/
out

web_modules/

package-lock.json
pnpm-lock.yaml
bun.lockb
